#third
    padding: 50px 0
    .minibox
        height: 200px
        width: 200px
        background-color: #966d49
        border-radius: 50%
        font-size: 22px
        font-weight: 700
        color: #fffdf1
        transition: 1s
        &:hover
            border-radius: 20%

    @media (max-width: 800px)
        .minibox
            height: 50px
            width: 50px
            background-color: #c3c587
    @media (max-width: 768px)
        .box
            flex-direction: column
        .minibox
            height: 50px
            width: 50px
            background-color: #c3c587